<!-- <div class="app-header" >
  <app-header></app-header>
</div> -->
<!-- <div class="container">
  <app-sidenav></app-sidenav>
</div> -->

<!-- <div class="content" [ngClass]="isSidebarVisible ? 'with-sidebar' : 'without-sidebar'"> -->
    <!-- Your main content goes here -->
         <!-- header top section start -->
      <div class="header_top_section">
        <div class="container">
           <div class="row">
              <div class="col-sm-12">
                 <div class="header_top_main">
                    <div class="call_text"><img src="assets/logo3.svg" width="200px" alt="logo"></div>                    
                 </div>
              </div>
           </div>
        </div>
     </div>
     <!-- header top section start -->
     
   <!-- header section end -->
   <!-- services section start -->
   <div class="services_section layout_padding">
      <div class="container-fluid">
         <!-- <div class="row">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
               <h1 class="services_taital">Best mobile deals</h1>
               <p class="services_text_1"><i>Mobiles for you</i></p>
            </div>
            <div class="col-sm-3"></div>
         </div> -->
         <div class="services_section_2" *ngFor="let a of mobileData" >
            <div class="row">
               <div class="col-lg-3 col-sm-6">
                  <div class="box_main">
                     <!-- <div class="service_img"><img src="images/icon-1.png"></div>
                     <h4 class="development_text">Construction Services</h4>
                     <p class="services_text">fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using L</p>
                     <div class="readmore_bt"><a href="#">Read More</a></div> -->
                  </div>
               </div>
               <div class="col-lg-6 col-sm-12">
                  <div class="box_main active">
                     <div class="row">
                     <div class="col-sm-5">
                        <img src="assets/RedmiNote13.jpg">
                     </div>
                     <div class="col-sm-7">
                        <h4 class="development_text">{{a.productName}}</h4>
                        <span> {{a.productDescription}} </span><a href="{{a.productUrl}}">Read More..</a>
                        <div>
                           <span style="font-weight: bold ;">Actual Price</span> : <span><del> {{a.actualPrice}} </del></span>
                        </div>
                        <div>
                           <span  style="font-weight: bold ;" >Buy Price</span> : <span> {{a.discountedPrice}} </span>
                        </div>
                        <div>
                           <span style="font-weight: bold ;">Discount</span> : <span style="font-weight: bold ; color: red;"> {{a.perOffer}} </span>
                        </div>
                        <div>                                                                         
                               
                           <a href="{{a.productUrl}}"> <input type="button" value="Buy Now" class="button" >    </a>
                        </div>
                     </div>
                   </div>
                  </div>
               </div>
               <!-- <div class="col-lg-3 col-sm-6">
                  <div class="box_main">
                     <div class="service_img"><img src="images/icon-3.png"></div>
                     <h4 class="development_text">Pre construction</h4>
                     <p class="services_text">fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using L</p>
                     <div class="readmore_bt"><a href="#">Read More</a></div>
                  </div>
               </div> -->
               <div class="col-lg-3 col-sm-6">
                  <div class="box_main">
                     <!-- <div class="service_img"><img src="images/icon-4.png"></div>
                     <h4 class="development_text">Management</h4>
                     <p class="services_text">fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using L</p>
                     <div class="readmore_bt"><a href="#">Read More</a></div> -->
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>

   <div class="footer_section layout_padding">
      <div class="container">
         <div class="row">
            <div class="col-md-12">
               <div class="location_text">
                  <ul>
                     <li>
                        <a href="#"><span class="padding_15"><i class="fa fa-mobile" aria-hidden="true"></i></span> <br>Call +91 9011194176</a>
                     </li>
                     <!-- <li class="active">
                        <a href="#"><span class="padding_15"><i class="fa fa-envelope" aria-hidden="true"></i></span> <br>bestmobes&#64gmail.com</a>
                     </li> -->
                     <!-- <li>
                        <a href="#"><span class="padding_15"><i class="fa fa-map-marker" aria-hidden="true"></i></span> <br>Location</a>
                     </li>  -->
                  </ul>
               </div>
            </div>
         </div>
      </div>
   </div>

   <!-- services section end -->
   <!-- about sectuion start -->
   
   <!-- about sectuion end -->
   <!-- projects section start -->
  
   <!-- projects section end -->
   <!-- testimonial section start -->
  
   <!-- testimonial section end -->
   <!-- contact section start -->
  
   <!-- contact section end -->
   <!-- footer section start -->
 
  